<h1>
    <%= gravatar_for @user %>
    <%= @user.name %>
</h1>
<div class ="row">
    <li>[NAME :]<%= @user.name %></li>
    <li>[EMAIL :]<%= @user.email %></li>
    <li>[PASSWORD :]<%= @user.password %></li>
    <li>[COUNTRY :]<%= @user.country %></li>
    <li><%= current_user %></li>
    <li><%= User.find_by(id:session[:user_id]) %></li>
    <li>@user.id  <%= @user.id%></li>
    <li>session[:user_id]  <%= session[:user_id]%></li>
</div>