
<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1>
                <%= gravatar_for @user %>
                <%= @user.name %>
            </h1>
        </section>
        <section class="user_info">
            <div class ="row">
                <div class ="col-sm-2">name</div>
                <div class ="col-sm-8"><%= @user.name %></div>
             </div>
             <div class ="row">
                <div class ="col-sm-2">email</div>
                <div class ="col-sm-8"><%= @user.email %></div>
             </div>
             <div class ="row">
                <div class ="col-sm-2">country</div>
                <div class ="col-sm-8"><%= @user.country %></div>
             </div>
        </section>
        <section class="user_info col-sm-8 col-sm-offset-1">
             <div class="follow_button">
                 <%= link_to "follwers", followers_path(@user),class:"btn btn-md btn-primary btn-block"%>
             </div>
             <div class="follow_button">
                 <%= link_to "followings", followings_path(@user),class:"btn btn-md btn-success btn-block" %>
             </div>
        </section>
    </aside>
    <div class="col-md-8">
        <%= render 'follow_form' if logged_in? %>
        <% if @user.microposts.any? %>
            <h3>Microposts (<%=@user.microposts.count%>)</h3>
                <ol class="microposts">
                    <%= render @microposts %>
                    <%= paginate @microposts %>
                </ol>

        <% end %>
    </div>
    
</div>
